<form id="studentSearchForm" class="form-container">
    <input type="text" id="studentSearch" class="input-field" placeholder="Buscar por username" />
    <button type="button" id="searchButton" class="search-button">Buscar</button>
</form>

<div id="searchResults" class="results-container"></div>
