<form id="studentSearchForm">
    <input type="text" id="studentSearch" placeholder="Buscar por username" />
    <button type="button" id="searchButton">Buscar</button>
</form>

<div id="searchResults"></div>
